@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&familyfamily=Reggae+One&family=Oxanium:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Oxanium, sans-serif;
    color: #ca92e0;
    background-color: black;
}

/* headings & logo */

h1, h2 {
    font-family: 'Major Mono', 'Reggae One' monospace, sans-serif;
    color: #6738b3;
    letter-spacing: 2px;
}

h1 {
    text-transform: uppercase;
    font-size: 250%;
}

#gay {
    text-align: center;
    padding-top: 15px;
}

header a {
    text-decoration: none;
}

#menu {
    font-size: 150%;
    line-height: 30px;
    padding-bottom: 15px;
}

#menu li {
    text-align: center;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #6738b3;
}

.active {
    border-bottom: 1px solid #6738b3;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: blueviolet;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/eso1.jpeg) no-repeat center center;


    /* animates zoom on loading page */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1.11);
    }
    to {
        transform: scale(1);
    }
}

/* image text */

#image-text {
    font-family: inherit;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

    width: 250px;
    height: 125px;

    padding-left: 5px;
    padding-top: 20px;

    background-color: rgb(202, 146, 224, 0.6);

    top: 70px;
    left: 65px;

    position: absolute;
}