@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&familyfamily=Reggae+One&family=Oxanium:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Oxanium, sans-serif;
    color: #ca92e0;
    background-color: black;
}

/* headings & logo */

h1, h2 {
    font-family: 'Major Mono', 'Reggae One' monospace, sans-serif;
    color: #6738b3;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1 {
    font-size: 250%;
}

h3, h4 {
    text-transform: uppercase;
}

#gay {
    text-align: center;
    padding-top: 15px;
}

header a {
    text-decoration: none;
}

#menu {
    font-size: 150%;
    line-height: 30px;
    padding-bottom: 15px;
}

#menu li {
    text-align: center;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #6738b3;
}

.active {
    border-bottom: 1px solid #6738b3;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: blueviolet;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/eso1.jpeg) no-repeat center center;


    /* animates zoom on loading page */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1.11);
    }
    to {
        transform: scale(1);
    }
}

#hero-image-two {
    height: 600px;
    width: 100%;
    background: url('../images/greymoor-one.jpeg') no-repeat center center;


    /* animates zoom on loading page */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* level of zoom for hero image two */
@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

#hero-image-three {
    height: 600px;
    width: 100%;
    background: url('../images/frostvault.webp') no-repeat center center;


    /* animates zoom on loading page */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* level of zoom for hero image two */
@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

/* image text */

#image-text {
    font-family: inherit;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #c381dd;
    border-radius: 15px;

    width: 250px;
    height: 125px;

    padding: 20px 0 0 5px;

    background-color: rgb(202, 146, 224, 0.5);

    top: 70px;
    left: 50px;

    position: absolute;
}

#image-text-two {
    font-family: inherit;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #00CED1;
    border-radius: 15px;

    width: 225px;
    height: 100px;

    padding: 20px 0 0 5px;

    background-color: rgba(123, 112, 226, 0.5);

    bottom: 250px;
    right: 600px;

    position: absolute;
}

#image-text-three {
    font-family: inherit;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #a8d2d2;
    border-radius: 15px;

    width: 175px;
    height: 100px;

    padding: 20px 0 0 5px;

    background-color: rgba(110, 65, 223, 0.5);

    bottom: 250px;
    right: 635px;

    position: absolute;
}

#scroll-arrow {
    font-family: inherit;
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    color: #c381dd;
    line-height: 50px;
    border-radius: 15px;

    width: 100px;
    height: 150px;

    padding: 10px 5px;

    background-color: rgb(202, 146, 224, 0.3);

    bottom: 70px;
    right: 50px;

    position: absolute;
}

/* about eso wheel */

#eso-explained {
    height: 650px;
}

#eso-explained h2 {
    text-align: center;
    margin: 15px 0;
}

#eso-explained h3 {
    color: #6738b3;
}

#left-eso {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-eso {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-explained {
    width: 33%;
    margin: 0 auto;
    padding: 120px;
}

hr {
    border-top: 1px solid #6738b3;
    width: 100%;
    margin: 8px 0;
}

.left-eso-content {
    width: 60%;
    float: right;
    line-height: 20px;
    margin-bottom: 50px;
}

.right-eso-content {
    width: 60%;
    float: left;
    line-height: 20px;
    margin-bottom: 50px;
    clear: both;
}

#center-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0 auto;
}

#center-circle-bg {
    background: url('../images/the-prophet.jpeg');
    height: 100%;
    border-radius: 50%;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
}

/* hover animation for eso-content & team divs */
.grow p{
    transition: 1s;
    }
    
.grow p:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s;
    }


/* events section */

#events {
    background: url('../images/orsinium.jpeg');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#events div {
    color: #4e0bb9;
    background-color: rgba(233, 207, 243, 0.4);
    width: 20%;
    height: 150px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding-top: 25px;
    border: 3px solid black;
    text-transform: uppercase;
    line-height: 30px;
}

#events h2 {
    color: #6738b3;
    text-decoration: underline;
}

/* meet the team section */

#team {
    background: url('../images/three-mages.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#team h2 {
    clear: both;
    text-align: center;
    padding: 15px;
    z-index: 1;
    background: black;
    letter-spacing: 2px;
}

#team div {
    color: #c381dd;
    background-color: rgba(91, 64, 240, 0.7);
    width: 25%;
    height: 300px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding-top: 25px;
    border: 3px solid black;
    text-transform: uppercase;
    line-height: 30px;
}

#team h3 {
    font-size: 25px;
}

#team h4 {
    font-size: 15px;
    text-transform: none;
    line-height: 20px;
    text-align: center;
}

#team hr {
    border-top: 1px solid #3b0a88;
    width: 100%;
    margin: 6px 0;
    text-align: center;
}

/* hover animation for team divs */
.grow h4{
    transition: 1s;
    }
    
.grow h4:hover{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1.15);
    transition: 1s;
    }

/* what we're doing section */

#our-goals {
    width: 100%;
    height: 700px;
    margin: 8px 0;
    display: inline-block;
    text-align: center;
}

#our-goals h2 {
    text-align: center;
    padding: 15px;
}

#what-doing {
    padding: 15px;
    margin: 15px 100px;
    width: 33%;
    float: left;
    border: 1px solid #3b0a88;
    border-radius: 25%;
    background: rgb(32,9,165);
    background: linear-gradient(90deg, rgba(32,9,165,.4) 0%, rgba(48,16,140,.4) 35%, rgba(142,88,215,.4) 100%);
}

.what-doing-content {
    width: 60%;
    padding-left: 90px;
    line-height: 20px;
    margin-bottom: 50px;
}

.goals-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .goals-bg {
    opacity: 0.7;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
  .goals-content {
    position: relative;
  }

/* contact page form */

.questions-heading {
    text-align: center;
}

#questions {
    text-align: -webkit-center;
    padding-top: 30px;
    clear: both;
    height: 500px;
    border: 2px solid #3b0a88;
    width: 60%;
    margin: 0 auto;
}

#form {
    font-style: inherit;
}

#dropdown h4 {
    line-height: 50px;
}

.ask-us {
    color:#6738b3;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background-color: #010101;
    border: 2px solid #3b0a88;
    transition: all 0.3s;
    padding: 13px;
    margin: 0 5px 15px 5px;
    width: 90%;
    box-sizing: border-box;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

/* text div */

.questions-text {
    width: 450px;
    padding-left: 90px;
    line-height: 20px;
    margin-bottom: 50px;
    float: left;
}

/* footer */

footer {
    height: 100px;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 200%;
    letter-spacing: 50px;
    padding: 5%;
    color: #6738b3;
}