@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Reggae+One&family=Oxanium:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    max-width: 1800px;
    font-family: Oxanium, sans-serif;
    color: #ca92e0;
    background-color: black;
    font-size: 16px;
}

/* headings & logo */

#gay {
    text-align: center;
    padding-top: 15px;
}

h1, h2 {
    font-family: 'Major Mono', 'Reggae One', Oxanium, sans-serif;
    color: rgb(108, 64, 179);
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

h3, h4 {
    text-transform: uppercase;
}

header a {
    text-decoration: none;
}

#menu {
    font-size: 1.5rem;
    line-height: 30px;
    padding-bottom: 15px;
}

#menu li {
    text-align: center;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

#menu a:hover {
    background-color: #6738b3;
}

.active {
    border-bottom: 1px solid #6738b3;
}

/* hero images */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image, #hero-image-two, #hero-image-three {
    height: 600px;
    width: auto;

    /* animates zoom on hero images */
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* level of zoom for hero images */
@keyframes hero-zoom {
    from {
        transform: scale(1.11);
    }
    to {
        transform: scale(1);
    }
}

#hero-image {
    background: url('../images/eso1.jpeg') no-repeat center center;
}

#hero-image-two {
    background: url('../images/greymoor-one.jpeg') no-repeat center center;
}

#hero-image-three {
    background: url('../images/frostvault.webp') no-repeat center center;
}

/* image texts */

#image-text, #image-text-two, #image-text-three, #image-text-four {
    font-family: inherit;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 15px;

    padding: 20px 0 0 5px;

    position: absolute;
}

#image-text, #image-text-four {
    color: #c381dd;
    background-color: rgba(41, 19, 76, 0.5);

}

#image-text {
    width: 350px;
    height: 150px;
    top: 70px;
    left: 50px;
}

#image-text-four {
    width: 275px;
    height: 150px;
    bottom: 70px;
    right: 50px;
}

#image-text-two, #image-text-three {
    color: #a8d2d2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#image-text-two {
    background-color: rgba(123, 112, 226, 0.5);
    width: 225px;
    height: 100px;
}

#image-text-three {
    background-color: rgba(110, 65, 223, 0.5);
    width: 175px;
    height: 100px;
}
/* about eso wheel */

#eso-explained {
    height: 650px;
}

#eso-explained h2 {
    text-align: center;
    margin: 15px 0;
}

#eso-explained h3 {
    color: rgb(108, 64, 179);
    font-size: 1.3rem;
}

#left-eso {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-eso {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-explained {
    width: 33%;
    margin: 0 auto;
    padding: 120px;
}

#center-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0 auto;
}

#center-circle-bg {
    background: url('../images/the-prophet.jpeg');
    height: 100%;
    border-radius: 50%;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
}

hr {
    border-top: 1px solid #6738b3;
    width: 100%;
    margin: 8px 0;
}

.left-eso-content {
    width: 60%;
    float: right;
    line-height: 20px;
    margin-bottom: 50px;
}

.right-eso-content {
    width: 60%;
    float: left;
    line-height: 20px;
    margin-bottom: 50px;
    clear: both;
}

/* hover animation for eso-explained and about sections */
.grow p{
    transition: 1s;
    }
    
.grow p:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s;
    }

@media (prefers-reduced-motion: reduce) {
    .grow {
        animation: none;
    }
}

/* What's Going On Right Now section */
    
#current-game-wrapper {
    width: 100%;
    padding: 10px 0 50px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 5rem;
    grid-template-areas:
    "hd hd hd hd hd hd"
    "dl dl dl ev ev ev";
}

#current-game-wrapper h3 {
    color: rgb(108, 64, 179);
    font-size: 1.3rem;
}

#current-game-wrapper hr {
    margin: 8px 0;
}

.current-game-heading {
    grid-area: hd;
    text-align: center;
    margin: 20px 0;
}

.dlc, .event {
    max-width: 80%;
    grid-area: dl;
    padding: 8px;
    border: 1px solid #3b0a88;
    border-radius: 10px;
    line-height: 20px;
}

.dlc {
    grid-area: dl;
    margin-left: 15%;
}

.event {
    grid-area: ev;
    margin-right: 15%;
}


.dlc a {
    text-decoration: underline;
    color: inherit;
}


/* events section */

#events {
    background: url('../images/orsinium.jpeg');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#events div {
    background-color: rgba(233, 207, 243, 0.4);
    width: 20%;
    height: 150px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding-top: 25px;
    border: 3px solid black;
    text-transform: uppercase;
    line-height: 30px;
}

#events h2 {
    margin-bottom: 10px;
    color: #010101;
}

.events {
    color: #010101;
}

/* meet the team section */

#team {
    background: url('../images/three-mages.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#team h2 {
    clear: both;
    text-align: center;
    padding: 15px;
    z-index: 1;
    background: black;
    letter-spacing: 2px;
}

#team div {
    color: #ca92e0;
    background-color: rgba(21, 11, 43, 0.75);
    backdrop-filter: blur(.12rem);
    width: 25%;
    height: 300px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding-top: 25px;
    border: 3px solid black;
    text-transform: uppercase;
    line-height: 30px;
}

#team h3 {
    font-size: 1.5rem;
}

#team h4 {
    text-transform: none;
    line-height: 20px;
    text-align: center;
}

#team hr {
    border-top: 1px solid #3b0a88;
    width: 100%;
    margin: 6px 0;
    text-align: center;
}

/* what we're doing section */

#about {
    width: 100%;
    height: auto;
    margin: 15px 0;
    text-align: center;
}

#about h2 {
    padding: 20px 0;
}

#about-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 8rem;
    row-gap: 3rem;
    grid-template-areas:
    ". te te cr cr ."
    ". . fu fu . .";
    background: url('../images/greymoor-header-one.jpeg') no-repeat center center;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
}

.teach {
    grid-area: te;
}

.create {
    grid-area: cr;
}

.fun {
    grid-area: fu;
}

.about-content {
    padding: 30px 80px;
    margin: 0 auto;
    width: 70%;
    height: auto;
    border-radius: 25%;
    background: rgb(9,84,165);
    background: linear-gradient(90deg, rgba(8, 57, 111, 0.6) 9%, rgba(9, 68, 82, 0.5) 43%, rgba(104,88,215,.6) 100%);
}

/* contact page */

#form-wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 3rem;
    grid-template-areas:
    "fo-hd fo-hd fo-hd fo-hd fo-hd fo-hd"
    "qu qu fo fo fo fo";
    }

    /* left text div */

#questions {
    text-align: -webkit-center;
    padding-top: 30px;
    clear: both;
    height: auto;
    border: 2px solid #3b0a88;
    border-radius: 2%;
    width: 90%;
    margin: 0 auto;
}

.questions-heading {
    grid-area: fo-hd;
    margin-top: 15px;
    text-align: center;
}

.questions-text {
    grid-area: qu;
    padding-left: 90px;
    line-height: 20px;
    margin-bottom: 50px;
    align-self: center;
}

    /* form */

.form-heading {
    grid-column: span 6 / -1;
}

.form {
    grid-area: fo;
}

form > h4 {
    font-size: 1.1rem;
}

.questions-text li {
    margin: 10px 0 ;
    list-style: none;
}

.queries {
    text-align: center;
    padding: 0 10px;
    margin-bottom: -25px;
    letter-spacing: 2px;
    line-height: 30px;
    position: relative;
}

.checkbox-size {
    width: 20%;
    padding: 0 20px;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    margin-left: -55px;
}

label {
    text-transform: uppercase;
}

.info > label {
    display: inline-block;
    text-align: center;
    width: 110px;
    margin-top: 20px;
    font-size: 1.1rem;
}

.info {
    margin-bottom: 10px;
}

.ask-us {
    color:rgb(108, 64, 179);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background: rgb(58, 9, 165);
    background: linear-gradient(90deg, rgba(58, 9, 165, 0.3) 9%, rgba(65, 27, 125, 0.3) 43%, rgba(134, 69, 225, 0.3) 100%);
    border: 2px solid #3b0a88;
    padding: 13px;
    margin: 0 5px 15px 5px;
    width: 90%;
    box-sizing: border-box;
}

.ask-us:focus {
    background: #010101;  
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

::placeholder {
    font-family: Oxanium, sans-serif;
    text-transform: uppercase;
}

.submit-btn {
    margin: 20px 0;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 1rem;
    background-color: #3b0a88;
    color: #fafafa;
    display: block;
}

.submit-btn:hover {
    color: #c381dd;
}


/* footer */

footer {
    height: 100px;
    width: auto;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 2rem;
    letter-spacing: 50px;
    padding: 5%;
    color: rgb(108, 64, 179);
}

/* Media queries */

/* For large screens max-width 1920px and lower */

@media screen and (max-width: 1920px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
}

/* For larger to medium screens size from 1200px wide and lower */

@media screen and (max-width: 1200px) {
    #eso-explained {
        width: 85%;
        height: auto;
        margin: 0 auto;
    }

    #eso-explained h2 {
        padding: 30px 0;
        margin: 0;
    }

    #left-eso, #right-eso {
        width: 90%;
        float: left;
        padding: 0 20px;
    }

    .left-eso-content, .right-eso-content {
        line-height: 1.5rem;
    }

    #center-explained {
        display: none;
    }

    #current-game-wrapper {
        width: auto;
        padding: 20px 0 50px 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(100px, auto);
        column-gap: 5rem;
        row-gap: 2rem;
        grid-template-areas:
        "hd hd hd hd hd hd"
        "dl dl dl dl dl dl"
        "ev ev ev ev ev ev";
    }

    .events {
        color: #3b0a88;
    }

    #events h2 {
        color: #3b0a88;
    }

    #events > div {
        width: 100%;
        clear: both;
        height: 150px;
    }

    .dlc, .event {
        margin: 0 auto;
        line-height: 1.5rem;
    }

    #team div {
        width: 100%;
        backdrop-filter: blur(.15rem);
    }

    #team h3 {
        font-size: 1.8rem;
    }

    #team h4 {
        font-size: 1.2rem;
        line-height: 25px;
    }

    #about-wrapper {
        width: auto;
        padding: 20px 0 50px 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(100px, auto);
        column-gap: 5rem;
        row-gap: 2rem;
        grid-template-areas:
        "te te te te te te"
        "cr cr cr cr cr cr"
        "fu fu fu fu fu fu";
    }

    .about-content {
        width: 25%;
    }

}

@media screen and (max-width: 920px) {
    
    #eso-explained {
        width: 100%;
    }
    
    #image-text, #image-text-four {
        margin: 0 auto;
        height: auto;
        width: 275px;
    }

    #form-wrapper {
        grid-template-areas: 
        ". fo-hd fo-hd fo-hd fo-hd ."
        "qu qu qu qu qu qu"
        "fo fo fo fo fo fo";
    }

    #questions {
        height: auto;
    }

    .questions-text {
        padding: 0 20px;
    }

    .left-eso-content, .right-eso-content {
        width: 100%;
        clear: both;
    }

    input[type=checkbox] {
        margin-left: -4%;
        display: inline-block;
    }

    .queries > label {
        padding: 5px 0;
    }

    .about-content {
        width: 50%;
    }

    footer > ul {
        margin-left: 50px;
    }

}